/*@media (max-width : 400px)*/
@media (min-width: 320px){

 h1,h2 {
    font-size: 30px;
 }
  p.subheading {

  }
  p {

  }
  header {
    margin: 0 0 100px;
    height: 805px;
  }
  header,
  footer {
    text-align: center;
    .inner {
      width: 285px;
    }
  }
  .hero--content--wrapper {
    width: 100%;
    padding-top: 30px;
  }
  .hero--content--cta,
  .footer--content--cta{
    a {
      &.btn--cta {
        width: 135px;
        height: 40px;
        background-size: 135px 40px;
      }
    }
  }
  .hero--image {
    padding-top: 40px;
  }
  section {
    text-align: center;
    min-height: 560px;
    .inner {
      width: 285px;
    }
  }
  .section-1,
  .section-2,
  .section-3,
  .section-4 {
    padding-left: 0;
    .flex-container {
      & > div {
        width: 100%;
      }
    }
    .section--content {
      padding-top: 50px;
    }
  }
  .section-1,
  .section-3 {
    .flex-container {
      flex-direction: column-reverse;
    }
  }
  .section-2,
  .section-4 {
    .section--img {
      padding-left: 0;
    }
  }
  .flex-container {
    flex-direction: column;
    width: 100%;
    & > div {
      width: 100%;
    }
  }
  .section--content {
    width: 100%;
  }
  .section--img {
    padding-top: 40px;
  }
  .case-studies-section {
    padding-top: 40px;
    .section--content {
      padding: 0;
    }
  }
  .form-section {
    padding-top: 20px;
    form  {
      margin-bottom: 30px;
      input {
        margin-bottom: 20px;
      }
    }
  }
  .inner {
    width: 285px;
    margin: 0 auto;
  }
  .footer--footer {
    padding-top: 0;
    p {
      display: block;
      margin-bottom: 20px;
    }
  }
}

/*
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {


  h1,h2 {
    font-size: 60px;
  }
  p {
    font-size: 28px;
    line-height: 44px;
    font-weight: $regular;
  }
  p.subheading {
    margin-bottom: 36px;
    font-size: 28px;
    line-height: 52px;
    font-weight: $extraBold;
  }
  header {
    margin: 0 0 200px;
    height: 1232px;
  }
  header,
  footer {
    text-align: center;
    .inner {
      width: 640px;
    }
  }
  .hero--content--wrapper {
    width: 100%;
    padding-top: 60px;
  }
  .hero--content--cta,
  .footer--content--cta{
    a {
      &.btn--cta {
        width: 270px;
        height: 80px;
        background-size: 270px 80px;
      }
    }
  }
  .hero--image {
    padding-top: 40px;
  }
  section {
    text-align: center;
    min-height: 560px;
    .inner {
      width: 640px;
    }
  }
  .section-1,
  .section-2,
  .section-3,
  .section-4 {
    padding-left: 0;
    .flex-container {
      & > div {
        width: 100%;
      }
    }
    .section--content {
      padding-top: 100px;
    }
  }
  .section-1,
  .section-3 {
    .flex-container {
      flex-direction: column-reverse;
    }
  }
  .section-2,
  .section-4 {
    .section--img {
      padding-left: 0;
    }
  }
  .flex-container {
    flex-direction: column;
    width: 100%;
    & > div {
      width: 100%;
    }
  }
  .section--content {
    width: 100%;
  }
  .section--img {
    padding-top: 80px;
  }
  .case-studies-section {
    padding-top: 80px;
    .section--content {
      padding: 0;
    }
  }
  .form-section {
    padding-top: 40px;
    form  {
      margin-bottom: 60px;
      input {
        height: 96px;
        width: 520px;
        border-radius: 48px;
        margin-right: 40px;
        margin-bottom: 40px;

        &::placeholder {
          padding-left: 48px;
          line-height: 96px;
          font-size: 32px;
        }
      }
      button {
        height: 96px;
        width: 266px;
        border-radius: 28px;
        font-size: 28px;
        line-height: 44px;
      }
    }
  }
  .inner {
    width: 640px;
    margin: 0 auto;
  }
  .footer--footer {
    padding-top: 0;
    p {
      display: block;
      margin-bottom: 40px;
    }
  }
}*/
